body {
    background-color: whitesmoke;
    background-image: url('/storage/background/HD-background13.jpg');
    background-size: cover;
    /* background-repeat: no-repeat; */
    background-attachment: fixed;
    background-position: center;
}

.container {
    max-width: 1350px; /* Atur lebar maksimum container */
    margin: auto; /* Pusatkan container di tengah halaman */
}

/* Style untuk container form */
.container-form {
    background-color: whitesmoke; /* Warna background untuk form */
    background-image: url('/storage/background/WhitePlainBG2.jpg');
    border-radius: 8px; /* Radius sudut untuk form */
    padding: 25px; /* Padding di dalam form */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Style shadow untuk form */
    max-width: 950px; /* Lebar maksimum form */
    margin-top: 20px; /* Membuat form berada di tengah secara vertikal */
    margin-bottom: 40px;
}

/* Style untuk container pasar */
.container-pasar {
    position: sticky;
    top: 0%;
    margin-bottom: 35px;
    transform: translateY(-50%);
    left: 50%;
    transform: translateX(-50%);
    width: 50%;
    align-items: center;
}

/* Style untuk container kategori */
.container-kategori {
    position: sticky;
    margin-top: 60px;
    top: 12%;
    transform: translateY(-50%);
    left: 50%;
    transform: translateX(-50%);
    width: 50%;
    align-items: center;
}

/* Style untuk container komoditi */
.container-komoditi {
    position: sticky;
    margin-top: 50px;
    top: 12%;
    transform: translateY(-50%);
    left: 50%;
    transform: translateX(-50%);
    width: 50%;
    align-items: center;
}

/* Style untuk container produk  */
.container-produk {
    position: sticky;
    margin-bottom: 30px;
    top: 10%;
    transform: translateY(-50%);
    left: 50%;
    transform: translateX(-50%);
    width: 50%;
    align-items: center;
}

/* Style untuk container riwayat harga komoditi  */
.container-riwayat {
    position: sticky;
    margin-bottom: 30px;
    top: 10%;
    transform: translateY(-50%);
    left: 50%;
    transform: translateX(-50%);
    width: 50%;
    align-items: center;
}

.developer-container {
    margin-top: 30px;
}

.developer-card {
    background-color: #f9f9f9;
    border-radius: 10px;
    border: 1px solid #e0e0e0;
}

.profile-photo {
    width: 150px;
    height: 150px;
    object-fit: cover;
}

.developer-card .card-body {
    padding: 0 1.5rem;
}

.developer-card h5 {
    margin-bottom: 0.5rem;
}

.jumbotron{
    background-image: url('/storage/background/WhitePlainBG2.jpg');
    opacity: 0.9;
    /* background-blend-mode: color-burn; */
    background-size: cover;
    border-radius: 115px;
}

.h2-home{
    text-decoration: overline;
    margin-bottom: 20px;
}

.card-komoditi {
    margin-bottom: 20px;
    background-image: url('/storage/background/WhitePlainBG2.jpg');
}

/* Style untuk efek hover pada gambar */
.card-img-top {
    transition: transform 0.3s ease;
}

.card-img-top:hover {
    transform: scale(1.2);
}

.badge {
    display: inline-block;
    padding: .35em .65em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25rem;
}

.text-success {
    color: #28a745 !important;
}

.text-danger {
    color: #dc3545 !important;
}

.text-warning {
    color: #ffc107 !important;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

.parallax-content {
    padding: 300px 0;
    text-align: center;
    color: #fff;
    position: relative;
    z-index: 2;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
}

.parallax-content h1 {
    font-size: 4rem;
    font-weight: bold;
    margin-bottom: 20px;
}

.parallax-content h5 {
    font-size: 1.5rem;
    font-weight: normal;
    line-height: 1.6;
    margin-bottom: 20px;
}

header::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1;
}

header {
    position: relative;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.after-parallax {
    margin-top: 5vh;
}

.main-title {
    text-align: left;
    margin-bottom: 30px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 2rem;
}

.kategori-card {
    margin-bottom: 30px;
    background-color: rgba(255, 255, 255, 0.8);
}

.card-komoditi {
    height: 100%;
}

.card-komoditi img {
    width: 100%;
    height: 200px;
    object-fit: contain;
}

.card-title-kategori {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 20px;
    font-family: 'Montserrat', sans-serif;
}

.empty-card {
    margin-top: 30px;
    padding: 20px;
    border: 1px solid #ddd;
}

.shadow {
    box-shadow: 0 0 10px rgba(0,0,0,0.1); /* Contoh bayangan ringan */
    transition: box-shadow 0.3s ease; /* Efek transisi jika diinginkan */
}

.radius {
    border-radius: 10px;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.content {
    flex: 1;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    display: grid;
    grid-template-columns: auto 1fr auto; /* Menggunakan kolom ke-3 untuk gambar kanan */
    align-items: center;
    text-align: center;
}

footer .icon-web {
    grid-column: 1;
    margin-left: 20px;
    width: 100px; /* Sesuaikan ukuran sesuai kebutuhan */
    height: auto;
}

footer .footer-content {
    grid-column: 2;
}

footer .social-icons {
    margin: 10px 0;
}

footer .social-icons a {
    color: #fff;
    margin: 0 15px;
    font-size: 30px;
    transition: color 0.3s ease;
}

footer .social-icons a:hover {
    color: #d4d4d4;
}

footer .icon-right {
    grid-column: 3; /* Atur agar gambar di sebelah kanan */
    margin-right: 20px;
    width: 100px; /* Sesuaikan ukuran sesuai kebutuhan */
    height: auto;
}

.navbar-brand-divider {
    border-right: 1px solid #ccc;
    padding-right: 20px;
    margin-right: 20px;
}

.navbar-nav .nav-item {
    margin-right: 5px; /* Jarak spasi di antara setiap menu navbar */
}



.card-komoditi .card-front,
.card-komoditi .card-back {
    transition: transform 0.6s;
    transform-style: preserve-3d;
    backface-visibility: hidden;
}
.card-komoditi.flipped .card-front {
    transform: rotateY(180deg);
}
.card-komoditi.flipped .card-back {
    transform: rotateY(0);
}